In [2]:
import pandas as pd
from io import StringIO

In [6]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0, , 8.0
10.0, 11.0, 12.0,'''

In [7]:
csv_data

'A,B,C,D\n1.0,2.0,3.0,4.0\n5.0,6.0, , 8.0\n10.0, 11.0, 12.0,'

In [8]:
df = pd.read_csv(StringIO(csv_data))

In [9]:
df

      A     B      C    D
0   1.0   2.0    3.0  4.0
1   5.0   6.0         8.0
2  10.0  11.0   12.0  NaN

In [10]:
df

      A     B      C    D
0   1.0   2.0    3.0  4.0
1   5.0   6.0         8.0
2  10.0  11.0   12.0  NaN

In [11]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False  False  False
2  False  False  False   True