In [2]:
import pandas as pd
from io import StringIO

In [6]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0, , 8.0
10.0, 11.0, 12.0,'''

In [7]:
csv_data

'A,B,C,D\n1.0,2.0,3.0,4.0\n5.0,6.0, , 8.0\n10.0, 11.0, 12.0,'

In [8]:
df = pd.read_csv(StringIO(csv_data))

In [9]:
df

      A     B      C    D
0   1.0   2.0    3.0  4.0
1   5.0   6.0         8.0
2  10.0  11.0   12.0  NaN

In [10]:
df

      A     B      C    D
0   1.0   2.0    3.0  4.0
1   5.0   6.0         8.0
2  10.0  11.0   12.0  NaN

In [11]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False  False  False
2  False  False  False   True

In [12]:
df.isnull().sum()

A    0
B    0
C    0
D    1
dtype: int64

In [14]:
df = pd.DataFrame([
    ['green', 'M', 10.1, 'class2'],
    ['red', 'L', 13.5, 'class1'],
])

In [15]:
df

       0  1     2       3
0  green  M  10.1  class2
1    red  L  13.5  class1

In [17]:
df.columns = ['color', 'size', 'price', 'classlabel']

In [18]:
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1

In [19]:
size_mapping = {'L': 2, 'M': 1}

In [20]:
df['size'].map(size_mapping)

0    1
1    2
Name: size, dtype: int64

In [25]:
import numpy as np
class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}

In [26]:
class_mapping

{'class1': 0, 'class2': 1}